@use "./breakpoints" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin midpoint {
  @media screen and (min-width: 500px) {
    @content;
  }
}

@mixin container {
  max-width: 62rem;
  margin-inline: auto;
  padding-inline: 1rem;

  @include tablet {
    padding-inline: 2rem;
  }

  @include desktop {
    max-width: 68rem;
  }
}

@mixin nav-container {
  max-width: 62rem;
  margin-inline: auto;
  padding-inline: 2rem;

  @include tablet {
    padding-inline: 2rem;
  }
}

@mixin hover {
  &:hover {
    @content;
  }
}
