@use "./colors" as *;

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $primary-white;
}
