@use "./mixins" as *;
@use "./colors" as *;

.logo {
  font-size: 24px;
  text-transform: uppercase;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 2rem;
  color: $primary-white;

  @include tablet {
    font-size: 60px;
    line-height: 4.25rem;
    font-weight: 700;
  }
}

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 2rem;
  color: $primary-bandsite-black;

  @include tablet {
    font-size: 36px;
    line-height: 2rem;
    font-weight: 700;
  }
}

h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  color: black;
  @include tablet {
    font-size: 24px;
    line-height: 2rem;
    font-weight: 600;
  }
}

p {
  font-size: 13px;
  line-height: 1.125rem;
  font-weight: 400;

  @include tablet {
    font-size: 14px;
    line-height: 1.375rem;
    font-weight: 400;
  }
}

.footer {
  &__icon {
    height: 1.5rem;
    width: 2rem;
    padding-inline: 0.25rem;
    line-height: 1.25rem;
    font-weight: 700;
  }

  &__title {
    color: white;
  }

  &-col,
  &__copyright {
    font-size: 13px;
    line-height: 1.125rem;
    font-weight: 400;

    @include tablet {
      font-size: 14px;
      line-height: 1.25rem;
      font-weight: 400;
    }
  }
}
