@use "./partials/fonts" as *;
@use "./partials/reset" as *;
@use "./partials/typography" as *;
@use "./partials/colors" as *;
@use "./partials/mixins" as *;

.hero {
  background-image: url("../assets/Images/hero-bio.jpg");
  background-size: cover;
  position: relative;

  &__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  &__container {
    display: flex;
    align-items: center;
    min-height: 25vh;
    @include container;

    @media screen and (min-width: 500px) {
      min-height: 35vh;
    }

    @include tablet {
      min-height: 50vw;
    }
  }

  &__title {
    color: $primary-white;
    z-index: 1;
  }
}

.main {
  &__container {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    @include container;
  }

  &__sub-container {
    @include tablet {
      padding: 0 2rem;
    }
  }

  &__title {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    max-width: 700;

    @include tablet {
      padding-top: 3rem;
      padding-bottom: 2.25rem;
    }
  }

  &__image {
    width: 100%;
    margin: 0 auto;
    padding-top: 0;
  }

  &__image-subtitle {
    padding: 1rem 0;
    font-weight: 700;

    &-author {
      font-weight: 700;
      @include tablet {
        font-size: 1rem;
      }
    }
  }

  &__content-title {
    padding: 1.5rem 0 0.5rem 0;
    font-weight: 600;
  }

  &__content-paragraph {
    @include tablet {
      display: flex;

      &--top {
        flex: 50%;
        padding-right: 1rem;

        @include tablet {
          padding-top: 1rem;
        }
      }

      &--bottom {
        flex: 50%;
        padding-left: 1rem;

        @include tablet {
          padding-top: 1rem;
        }
      }
    }
  }
}

.gallery {
  background-color: $secondary-alabaster;
  &__container {
    display: flex;
    flex-direction: column;
    padding-block: 1rem;
    @include container;

    @include tablet {
      padding-block: 3rem;
    }
  }
  &__title {
    padding-bottom: 1rem;

    @include tablet {
      padding-bottom: 1.5rem;
    }
  }
  &-image__container {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    flex-direction: row;
    margin: 0rem;
    flex-wrap: wrap;
  }

  &__image {
    display: block;
    width: 100%;
    transition: all 0.5s ease;
    filter: grayscale(1000%);

    &:hover {
      filter: grayscale(0%);
    }

    @include tablet {
      width: calc(33.33% - 1.5rem);
    }
  }
}
