body {
  font-family: "Avenir Next";
}

@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/Font/AvenirNextLTPro-Bold.ttf") format "truetype", url("../../assets/Font/AvenirNextLTPro-Bold.woff") format "woff", url("../../assets/Font/AvenirNextLTPro-Bold.woff2") format "woff2";
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/Font/AvenirNextLTPro-Regular.ttf") format("truetype"), url("../../assets/Font/AvenirNextLTPro-Regular.woff") format("woff"), url("../../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/Font/AvenirNextLTPro-Demi.ttf") format("truetype"), url("../../assets/Font/AvenirNextLTPro-Demi.woff") format("woff"), url("../../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
}

input,
button,
textarea,
select {
  font: inherit;
}

.nav {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 4rem;
}
.nav__title {
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
}
.nav__list {
  color: #fff;
  display: flex;
  justify-content: space-evenly;
}

.hero {
  position: relative;
  background-image: url("../assets/Images/hero-bio.jpg");
  min-height: 45vh;
  background-size: cover;
}
.hero__title {
  position: absolute;
  top: 50%;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  padding-left: 1rem;
}

.main {
  padding: 1rem;
}
.main__image {
  width: 100%;
}
.main__image-subtitle {
  font-weight: 700;
}
.main * {
  padding-top: 1rem;
}
.main__content--title {
  padding-top: 2rem;
}

.gallery {
  background-color: #fafafa;
}
.gallery__title {
  padding-bottom: 1rem;
  font-size: 30px;
  padding-top: 1rem;
}
.gallery__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin: 0rem;
}
.gallery__image {
  padding: 0 1rem 1rem 1rem;
  display: block;
  width: 30rem;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #323232;
  color: #fff;
}
.footer__logo--mobile {
  display: none;
}
.footer__col {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding-left: 1rem;
}
.footer__col--email {
  margin-bottom: 2rem;
}
.footer__title {
  padding: 1rem;
}
.footer__icon {
  height: 4rem;
  padding: 1rem;
}
.footer__col--name, .footer__col--org {
  font-weight: 700;
}
.footer__logo {
  padding-top: 2rem;
  padding-left: 1rem;
}
.footer__copyright {
  padding: 2rem 0 2rem 0;
  padding-left: 1rem;
}/*# sourceMappingURL=bio.css.map */