@use "./partials/fonts" as *;
@use "./partials/reset" as *;
@use "./partials/typography" as *;
@use "./partials/colors" as *;
@use "./partials/mixins" as *;
@use "./partials/breakpoints" as *;

.hero {
  background-image: url("../assets/Images/hero-bio.jpg");
  background-size: cover;
  position: relative;

  &__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
  }

  &__container {
    display: flex;
    align-items: center;
    min-height: 30vh;
    @include container;

    @include midpoint{
      min-height: 35vh;
    }

    @include tablet {
      min-height: 50vw;
    }
  }

  &__title {
    color: $primary-white;
    z-index: 1;
  }
}

.main {
  &__container {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    @include container;
  }

  &__sub-container {
    @include tablet {
      padding: 0 2rem;
    }
  }

  &__title {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    max-width: 700;

    @include tablet {
      padding-top: 3rem;
      padding-bottom: 2.25rem;
    }
  }

  &__image {
    width: 100%;
    margin: 0 auto;
    padding-top: 0;
  }

  &__image-subtitle {
    padding: 1rem 0;
  }

  &__image-author {
    @include tablet {
      font-size: 1rem;
    }
  }

  &__content-title {
    padding: 1.5rem 0 0.5rem 0;
    font-weight: 600;
  }

  &__paragraphs {
    @include tablet {
      display: flex;
      gap: 2rem;
    }
  }

  &__paragraph {
    flex: 50%;

    @include tablet {
      padding-top: 1rem;
    }
  }
}

.gallery {
  background-color: $secondary-alabaster;
  &__container {
    display: flex;
    flex-direction: column;
    padding-block: 1rem;
    @include container;

    @include tablet {
      padding-block: 3rem;
    }
  }
  &__title {
    padding-bottom: 1rem;

    @include tablet {
      padding-bottom: 1.5rem;
    }
  }
  &-image__container {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    flex-direction: row;
    margin: 0rem;
    flex-wrap: wrap;

    @include tablet {
      gap: 1.5rem;
    }
  }

  &__image {
    display: block;
    width: 100%;
    transition: all 0.5s ease;
    filter: grayscale(1000%);

    &:hover {
      filter: grayscale(0%);
    }

    @include tablet {
      width: calc(33.33% - 1.5rem);
    }
  }
}

.form {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  margin-inline: auto;
  padding-inline: auto;
  min-height: 19rem;
  @include tablet {
    max-width: 30rem;
  }

  &__heading {
    color: $primary-bandsite-black;
    padding: 1rem;
    max-width: 62rem;
    margin-inline: auto;

    @include tablet {
      padding-inline: 2rem;
    }
  }
  &__container {
    display: flex;
    flex-direction: row;
    height: 25vh;
    width: auto;

    &--left {
      display: flex;
      justify-content: center;
    }

    &--right {
      display: flex;
      flex-direction: column;
      flex: 1;

      label:nth-child(3) {
        padding-top: 1rem;
      }
    }
  }

  &__avatar-cropper {
    height: 2.5rem;
    width: 2.5rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 1rem;
    top: 1.15rem;

    @include tablet {
      top: 1.63rem;
    }
  }

  &__avatar {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
    margin-left: -15%;
  }

  &__label-title {
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 600;
    color: silver;
    margin-bottom: 0.25rem;
  }

  &__name {
    min-height: 36px;
    text-indent: 1rem;
    font-family: $font-stack;
    border: 1px solid $secondary-mercury;
    border-radius: 0.25rem;
    background-color: $secondary-alabaster;

    &--error {
      border: 1px solid red;
    }

    @include tablet {
      min-height: 3rem;
    }
  }

  &__name::placeholder {
    color: $primary-bandsite-black;
  }

  &__comment {
    min-height: 8rem;
    text-indent: 1rem;
    resize: none;
    font-family: $font-stack;
    border: 1px solid $secondary-mercury;
    padding-top: 0.75rem;
    border-radius: 4px;
    background-color: $secondary-alabaster;

    &--error {
      border: 1px solid $icon-red;
    }
  }

  &__comment::placeholder {
    color: $primary-bandsite-black;
  }

  &__button {
    background-color: $primary-bandsite-black;
    color: $primary-white;
    border-radius: 0.2rem;
    border: none;
    text-transform: uppercase;
    margin-top: 1rem;
    min-height: 2.5rem;
    cursor: pointer;

    @include tablet {
      min-width: 9.375rem;
      padding: 0 2rem;
      width:12rem;
      align-self: flex-end;
    }
  }
}

.comments {
  padding: 1rem;
  margin-inline: auto;

  @include tablet {
    max-width: 30rem;
  }

  &__container {
    display: flex;
    border-top: 2px solid $secondary-mercury;
    padding: 1rem 0rem;
  }

  &__image-placeholder {
    height: 2.5rem;
    width: 2.5rem;
    min-width: 2.5rem;
    background-color: $secondary-mercury;
    border-radius: 50%;
    margin-right: 1rem;
  }

  &__section--right {
    width: 100%;
  }

  &__text-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
  }

  &__name {
    font-weight: 600;
  }

  &__date {
    color: $primary-silver;
  }

  &__comment {
    font-size: 0.875rem;
  }

  &__buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 1rem;
  }

  &__like-buttons {
    background-color: transparent;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__trash-button {
    background-image: url("../assets/Icons/SVG/delete_black_24dp.svg");
    height: 1.4rem;
    width: 1.2rem;
    font-weight: 900;
    background-repeat: no-repeat;
    border-style: none;
    background-color: transparent;
    opacity: 50%;
    padding: 1rem;
    cursor: pointer;

    &:hover {
      opacity: 100%;
    }
  }

  &__like-icon {
    background-image: url("../assets/Icons/SVG/favorite_black_24dp.svg");
    height: 1.5rem;
    width: 1.5rem;
    background-repeat: no-repeat;
    border-style: none;
    background-color: transparent;
    opacity: 50%;
    cursor: pointer;

    &:hover {
      background-image: url("../assets/Icons/SVG/favorite_red_24dp.svg");
      opacity: 75%;
    }
  }

  &__like-counter {
    transform: translateY(1px);
    padding: 0rem 0.5rem;
    display: none;
    color: $primary-silver;

    &--display {
      display: unset;
    }
  }
}
