@use "./partials/fonts" as *;
@use "./partials/reset" as *;

.nav {
  background-color: $background-color-footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 4rem;

  &__title {
    color: $text-color;
    text-transform: uppercase;
    margin: 0 auto;
  }
  &__list {
    color: $text-color;
    display: flex;
    justify-content: space-evenly;
  }
}

.hero {
  position: relative;
  background-image: url("../assets/Images/hero-bio.jpg");
  min-height: 45vh;
  background-size: cover;

  &__title {
    position: absolute;
    top: 50%;
    color: $text-color;
    font-size: 24px;
    font-weight: 700;
    padding-left: 1rem;
  }
}

.main {
  padding: 1rem;

  &__image {
    width: 100%;
  }
  &__image-subtitle {
    font-weight: 700;
  }

  * {
    padding-top: 1rem;
  }

  &__content--title {
    padding-top: 2rem;
  }
}

.gallery {
  background-color: $secondary-alabaster;
  &__title {
    padding-bottom: 1rem;
    font-size: $heading-two;
    padding-top: 1rem;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin: 0rem;
  }

  &__image {
    padding: 0 1rem 1rem 1rem;
    display: block;
    // flex: 0 0 15rem;
    width: 30rem;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: $background-color-footer;
  color: $text-color;

  &__logo--mobile {
    display: none;
  }

  &__col {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    padding-left: 1rem;

    &--email {
      margin-bottom: 2rem;
    }
  }

  &__title {
    padding: 1rem;
  }

  &__icon {
    height: 4rem;
    padding: 1rem;
  }

  &__col--name,
  &__col--org {
    font-weight: 700;
  }

  &__logo {
    padding-top: 2rem;
    padding-left: 1rem;
  }

  &__copyright {
    padding: 2rem 0 2rem 0;
    padding-left: 1rem;
  }
}
