@use "./partials/fonts" as *;
@use "./partials/reset" as *;
@use "./partials/typography" as *;
@use "./partials/colors" as *;
@use "./partials/mixins" as *;

.header {
  width: 100%;
}

.nav {
  background-color: $primary-bandsite-black;

  &__container {
    display: flex;
    flex-direction: column;
    height: 10vh;

    @include tablet {
      display: flex;
      flex-direction: row;
      align-items: center;
      @include nav-container;
    }

    @include desktop {
      @include nav-container;
    }
  }

  &__title {
    color: $primary-white;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 1rem;

    @include tablet {
      margin: unset;
      line-height: 4rem;
      width: 20%;
    }
  }
  &__list {
    color: $primary-white;
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;

    @include tablet {
      width: 20%;
      line-height: 4rem;
      justify-content: space-between;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
  }
}

.footer {
  background-color: $primary-bandsite-black;

  &__container {
    flex-direction: column;
    background-color: $primary-bandsite-black;
    color: $primary-white;
    width: 100%;
    padding: 1rem;

    @include tablet {
      @include container;
    }
  }

  &-header__container {
    @include tablet {
      padding-top: 3rem;
      padding-bottom: 3rem;
      display: flex;
      align-items: center;
      width: 100%;
    }
  }

  &-col__container {
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 45rem;
    }
  }

  &__logo--right {
    display: none;

    @include tablet {
      display: unset;
      margin-left: auto;
      padding-right: 0.5rem;
    }
  }

  &__title {
    @include tablet {
      width: 31%;
      max-width: 14rem;
    }
  }

  &-col {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 100%;

    @include tablet {
      display: flex;
      gap: 2rem;
      flex-direction: column;
      width: 40%;
    }

    &__email {
      margin-bottom: 1rem;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 8rem;
    height: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transform: translateX(-0.2rem);

    @include tablet {
      padding: 0 1rem;
      display: flex;
      max-width: 10rem;
      width: 25%;
      align-items: center;
    }
  }

  &-col__name,
  &-col__org {
    font-weight: 700;
  }

  &__logo--mobile {
    padding-top: 2rem;

    @include tablet {
      display: none;
    }
  }

  &__copyright {
    padding: 1rem 0 1rem 0;
  }
}
