body {
  font-family: "Avenir Next";
}

@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype"), url("../assets/Font/AvenirNextLTPro-Bold.ttf") format("truetype"), url("../assets/Font/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../assets/Font/AvenirNextLTPro-Regular.ttf") format("truetype"), url("../assets/Font/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype"), url("../assets/Font/AvenirNextLTPro-Demi.ttf") format("truetype"), url("../assets/Font/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #fff;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
  }
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #fff;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 36px;
    line-height: 32px;
    font-weight: 700;
  }
}

h3 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: #fff;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}

p {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    padding: 2.25rem 0rem;
  }
}

a {
  color: #fff;
}

li,
.nav__item {
  color: #afafaf;
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
}

.nav__item {
  width: 100%;
}
.nav__item:hover {
  color: #fff;
  font-weight: 600;
}
.nav__item--active {
  border-bottom: 2px solid #fff;
  color: #fff;
  font-weight: 600;
}

.footer__icon {
  height: 1.5rem;
  width: 2rem;
  padding-inline: 0.25rem;
  line-height: 1.25rem;
  font-weight: 700;
}
.footer__col, .footer__copyright {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .footer__col, .footer__copyright {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}

.header {
  width: 100%;
}

.nav {
  background-color: #323232;
}
.nav__container {
  display: flex;
  flex-direction: column;
  height: 10vh;
}
@media screen and (min-width: 768px) {
  .nav__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 62rem;
    margin-inline: auto;
    padding-inline: 2rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .nav__container {
    padding-inline: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav__container {
    max-width: 62rem;
    margin-inline: auto;
    padding-inline: 2rem;
  }
}
@media screen and (min-width: 1280px) and (min-width: 768px) {
  .nav__container {
    padding-inline: 2rem;
  }
}
.nav__title {
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .nav__title {
    margin: unset;
    line-height: 4rem;
    width: 20%;
  }
}
.nav__list {
  color: #fff;
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav__list {
    width: 20%;
    line-height: 4rem;
    justify-content: space-between;
  }
}
.nav__item {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.footer {
  background-color: #323232;
}
.footer__container {
  flex-direction: column;
  background-color: #323232;
  color: #fff;
  width: 100%;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__container {
    max-width: 62rem;
    margin-inline: auto;
    padding-inline: 1rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .footer__container {
    padding-inline: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .footer-header__container {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    align-items: center;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .footer-col__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 45rem;
  }
}
.footer__logo--right {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__logo--right {
    display: unset;
    margin-left: auto;
    padding-right: 0.5rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__title {
    width: 31%;
    max-width: 14rem;
  }
}
.footer__col {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer__col {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    width: 40%;
  }
}
.footer__col--email {
  margin-bottom: 1rem;
}
.footer__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8rem;
  height: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transform: translateX(-0.2rem);
}
@media screen and (min-width: 768px) {
  .footer__icons {
    padding: 0 1rem;
    display: flex;
    max-width: 10rem;
    width: 25%;
    align-items: center;
  }
}
.footer__col--name, .footer__col--org {
  font-weight: 700;
}
.footer__logo--mobile {
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__logo--mobile {
    display: none;
  }
}
.footer__copyright {
  padding: 1rem 0 1rem 0;
}/*# sourceMappingURL=global.css.map */