body {
  font-family: "Avenir Next";
}

@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype"), url("../assets/Font/AvenirNextLTPro-Bold.ttf") format("truetype"), url("../assets/Font/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../assets/Font/AvenirNextLTPro-Regular.ttf") format("truetype"), url("../assets/Font/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype"), url("../assets/Font/AvenirNextLTPro-Demi.ttf") format("truetype"), url("../assets/Font/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.logo {
  font-size: 1.5rem;
  text-transform: uppercase;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  color: #fff;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  color: #323232;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2rem;
    font-weight: 700;
  }
}

h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  color: black;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}

p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}

a {
  color: #fff;
}

.footer__icon {
  height: 1.5rem;
  width: 2rem;
  padding-inline: 0.25rem;
  line-height: 1.25rem;
  font-weight: 700;
}
.footer__title {
  color: white;
}
.footer-col, .footer__copyright {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .footer-col, .footer__copyright {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}

.hero {
  background-image: url("../assets/Images/hero-shows.jpg");
  background-size: cover;
  position: relative;
}
.hero__container {
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  padding: 2rem 0;
  justify-content: space-evenly;
  max-width: 62rem;
  margin-inline: auto;
  padding-inline: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__container {
    padding-inline: 2rem;
  }
}
@media screen and (min-width: 500px) {
  .hero__container {
    min-height: 35vh;
  }
}
@media screen and (min-width: 768px) {
  .hero__container {
    min-height: 50vw;
  }
}
.hero__title, .hero__subtitle {
  color: #fff;
  position: relative;
  padding: 0.5rem 0rem;
}
@media screen and (min-width: 768px) {
  .hero__title, .hero__subtitle {
    max-width: 33rem;
  }
}
.hero__soundtrack {
  padding: 1rem 0rem;
  position: relative;
  border-radius: 0.5rem;
}
@media screen and (min-width: 768px) {
  .hero__soundtrack {
    max-width: 33rem;
  }
}
.hero__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
}

.shows {
  background-color: #fff;
  margin-bottom: 1rem;
  max-width: 62rem;
  padding-inline: 1rem;
}
@media screen and (min-width: 768px) {
  .shows {
    margin-inline: auto;
    padding-inline: 2rem;
  }
}
.shows__section-heading {
  color: black;
  padding-top: 2rem;
}
.shows__tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .shows__tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 1rem;
    text-transform: uppercase;
  }
  .shows__tablet-item {
    min-width: 10rem;
    padding-top: 2rem;
    font-weight: 600;
  }
}
.shows__container {
  border-bottom: 2px solid rgb(210, 210, 210);
  display: flex;
  flex-direction: column;
  padding: 1rem 0rem;
  cursor: pointer;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .shows__container {
    flex-direction: row;
    align-items: center;
    padding-inline: 1rem;
  }
}
.shows__container--selected {
  background-color: #e1e1e1;
}
.shows__container--unselected:not(.shows__container--selected):hover {
  background-color: #fafafa;
}
.shows__heading {
  color: silver;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
}
@media (min-width: 768px) {
  .shows__heading {
    display: none;
  }
}
.shows__description, .shows__description--date {
  color: black;
  padding-bottom: 1rem;
  min-width: 10rem;
}
@media screen and (min-width: 768px) {
  .shows__description, .shows__description--date {
    padding-bottom: 0rem;
  }
}
.shows__description--date {
  font-weight: 600;
}
.shows__button {
  color: white;
  height: 3rem;
  width: 100%;
  text-transform: uppercase;
  background-color: #323232;
  border: none;
  border-radius: 0.5rem;
  align-self: center;
  cursor: inherit;
}
@media screen and (min-width: 768px) {
  .shows__button {
    max-width: 10rem;
  }
}/*# sourceMappingURL=shows.css.map */