@use "./partials/fonts" as *;
@use "./partials/reset" as *;
@use "./partials/typography" as *;
@use "./partials/colors" as *;
@use "./partials/mixins" as *;
@use "./partials/breakpoints" as *;

.hero {
  background-image: url("../assets/Images/hero-shows.jpg");
  background-size: cover;

  position: relative;

  &__container {
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    padding: 2rem 0;
    justify-content: space-evenly;
    @include container;

    @include midpoint {
      min-height: 35vh;
    }

    @include tablet {
      min-height: 50vw;
    }
  }

  &__title {
    color: $primary-white;
    position: relative;
    padding: 0.5rem 0rem;

    @include tablet {
      max-width: 33rem;
    }
    @include desktop {
      max-width: 33rem;
    }
  }

  &__desktop-container {
    @include desktop {
      display: flex;
      justify-content: space-between;
      transform: translateY(-100px);
    }
  }

  &__subtitle {
    @extend .hero__title;
  }

  &__soundtrack {
    padding: 1rem 0rem;
    position: relative;
    border-radius: 0.5rem;
    width: 100%;

    @include tablet {
      max-width: 33rem;
    }

    @include desktop {
      flex: 0.8;
    }
  }

  &__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
  }
}

.shows {
  background-color: $primary-white;
  margin-bottom: 1rem;
  max-width: 62rem;
  padding-inline: 1rem;
  @include container;

  @include tablet {
    margin-inline: auto;
    padding-inline: 2rem;
  }

  @include desktop {
    display: flex;
    justify-content: space-between;
  }

  &__section-heading {
    color: black;
    padding-top: 2rem;

    @include desktop {
      width: 10rem;
    }
  }
  &__tablet {
    display: none;
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-inline: 1rem;
      text-transform: uppercase;

      &-item {
        color: $primary-silver;
        min-width: 10rem;
        padding-top: 2rem;
        font-weight: 600;
      }
    }
  }

  &__section-container {
    @include desktop {
      width: 50rem;
    }
  }

  &__container {
    border-bottom: 2px solid rgb(210, 210, 210);
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
    cursor: pointer;
    justify-content: space-between;

    @include tablet {
      flex-direction: row;
      align-items: center;
      padding-inline: 1rem;
    }

    &--selected {
      background-color: $secondary-mercury;
    }

    &--unselected:not(.shows__container--selected):hover {
      background-color: $secondary-alabaster;
    }
  }

  &__heading {
    color: silver;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;

    @include tablet {
      display: none;
    }
  }

  &__description {
    color: black;
    padding-bottom: 1rem;
    min-width: 10rem;

    @include tablet {
      padding-bottom: 0rem;
    }

    &--date {
      @extend .shows__description;
      font-weight: 600;
    }
  }

  &__button {
    color: white;
    height: 3rem;
    width: 100%;
    text-transform: uppercase;
    background-color: $primary-bandsite-black;
    border: none;
    border-radius: 0.5rem;
    align-self: center;
    cursor: inherit;

    @include tablet {
      max-width: 10rem;
    }
  }
}
