@use "./partials/fonts" as *;
@use "./partials/reset" as *;
@use "./partials/typography" as *;
@use "./partials/colors" as *;
@use "./partials/mixins" as *;

.hero {
  background-image: url("../assets/Images/hero-shows.jpg");
  background-size: cover;

  position: relative;

  &__container {
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    padding: 2rem 0;
    justify-content: space-evenly;
    @include container;

    @media screen and (min-width: 500px) {
      min-height: 35vh;
    }

    @include tablet {
      min-height: 50vw;
    }
  }

  &__title {
    color: $primary-white;
    position: relative;
    padding: 0.5rem 0rem;
  }

  &__subtitle {
    @extend .hero__title;
  }

  &__soundtrack {
    padding: 1rem 0rem;
    position: relative;
    border-radius: 0.5rem;
  }

  &__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
  }
}

.shows-info {
  background-color: #ffffff;
  margin-bottom: 1rem;

  &__section-heading {
    color: black;
    padding: 1rem;
  }

  &__container {
    border-bottom: 2px solid rgb(210, 210, 210);
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
  }

  &__heading {
    color: silver;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
  }

  &__description {
    color: black;
    padding-bottom: 1rem;

    &--date {
      @extend .shows-info__description;
      font-weight: 600;
    }
  }

  &__button {
    color: white;
    height: 3rem;
    width: 90%;
    background-color: black;
    border: none;
    border-radius: 0.5rem;
    align-self: center;
  }
}
